@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2:wght@400;700&display=swap");

body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-primary);
}

h1 {
  font-family: var(--font-family-secondary);
  font-size: 3rem;
}

h2 {
  font-family: var(--font-family-secondary);
  font-size: 2.5rem;
}

h3 {
  font-family: var(--font-family-secondary);
  font-size: 2.0625rem;
}

h4 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  font-size: 1.25rem;
}

nav {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-medium);
}
p {
  font-family: var(--font-family-primary);
}
