:root {
  --color-primary: #587c93;
  --color-secondary: #ee8a5a;
  --color-light-blue: #a8c7dc;
  --color-black: #0b0c25;
  --color-white: #e7ecf3;
  --color-text-black: #222;
  --color-text-gray: #444;
  --color-text-light-gray: #666;
  --color-text-orange: #fa7436;
  --bg-color-blue: #587c93;

  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Abril Fatface", serif;
  --font-family-logo: "Baloo 2", sans-serif;

  --font-size-primary: 16px;
  --font-size-secondary: 1.5rem;
  --font-size-tertiary: 1.125rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --line-height-primary: 1.5;

  --box-shadow: 0px 4px 25px 10px rgba(88, 124, 147, 0.25);
  --box-shadow2: 0px 4px 25px 10px rgba(88, 124, 147, 0.5);
}
